<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
  <appender name="fileLog" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="testlog.log" />
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <param name="Append" value="true" />
    <param name="Threshold" value="DEBUG"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} [%t] %-5p %c{2} - %m%n"/>
    </layout>
 </appender>

	<appender name="ROLL" class="org.apache.log4j.rolling.RollingFileAppender">
		<!-- The active file to log to -->
		<param name="File" value="testlog.log" />
		<param name="Append" value="true" />
		<param name="encoding" value="UTF-8" />
		
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
		        <!-- The file to roll to, this is a fairly intelligent parameter, if the file
		        ends in .gz, it gzips it, based on the date stamp it rolls at that time, 
		        default is yyyy-MM-dd, (rolls at midnight)
		        See: http://logging.apache.org/log4j/companions/extras/apidocs/org/apache/log4j/rolling/TimeBasedRollingPolicy.html -->
		        <param name="FileNamePattern" value="testlog.%d{yyyy-MM-dd-HH-mm}.log.gz" />
		</rollingPolicy>
		
		<layout class="org.apache.log4j.PatternLayout">
		        <!-- The log message pattern -->
		        <param name="ConversionPattern" value="%5p %d{ISO8601} [%t][%x] %c - %m%n" />
		</layout>
	</appender>

  <root> 
    <appender-ref ref="ROLL" /> 
  </root>
  
</log4j:configuration>